<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>04509A7A3EB064382228CF6E.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>82D0CAEC364915EEB1595CD8B7806900CC851D37</string>
		<key>title</key>
		<string>Clique</string>
	</dict>
	<key>07F5B61E6223D6574558ECF7.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>D99EE93957BB0AA38D02FC6BA1B60330CC228357</string>
		<key>title</key>
		<string>scala</string>
	</dict>
	<key>09383CBA4DF97EC3231E52B6.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>A3F3EA49565B8A0C789B6DCD6D09115DD346BEA4</string>
		<key>title</key>
		<string>Monads, is a type</string>
	</dict>
	<key>0AA1A2E34445AAB42E94D6F6.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>E83CB619F0F6DE3EC7186D70327579FF4A00DFC5</string>
		<key>title</key>
		<string>cs251</string>
	</dict>
	<key>0B238EB31BEF03C81663AB48.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>30CE0FB19F98E39CF33F48C860C23F33DEAD4BDF</string>
		<key>title</key>
		<string>scala设计原则</string>
	</dict>
	<key>14DB24AA4118286F3EE78E6F.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>80F1BCD3C1B05070094C754B50CCDEF702CBF51C</string>
		<key>title</key>
		<string>CS251</string>
	</dict>
	<key>163DDABC5DBC145B72BC561F.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>964AA49BC43EE536D3E7E13C0CD64AD30BC0FCFC</string>
		<key>title</key>
		<string>how is Clique design here</string>
	</dict>
	<key>1C0A5DE92F3C5FCC2994A4FC.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>810629BC6316AB8169C0F60B11FEE27DCEBAB3A2</string>
		<key>title</key>
		<string>famous AM CS</string>
	</dict>
	<key>1C20071C521207740100136D.smmx</key>
	<dict>
		<key>hasImages</key>
		<true/>
		<key>sha1</key>
		<string>1B3D49B242B1865B5DD8E838F75A9750B70E46D5</string>
		<key>title</key>
		<string>欢迎</string>
	</dict>
	<key>230CEED5164F9B690D1FA8A7.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>3F6EC46CE225E87BA480DFBCC81AB10EB2173C45</string>
		<key>title</key>
		<string>lecture 1</string>
	</dict>
	<key>25BCF0C1771C09FF3E3F1FAC.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>3FA2638217A7F7E0322D7CB8F28EF41D676D2796</string>
		<key>title</key>
		<string>scala</string>
	</dict>
	<key>38236E866586741A1E855EE2.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>53E6833625C911016D0E7C7F23D432168B2767CD</string>
		<key>title</key>
		<string>营销</string>
	</dict>
	<key>3AC0F3CB2A70BFBE5927B7E2.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>F817D369E33D75D6EA8E8418AA41F3418266E04F</string>
		<key>title</key>
		<string>Overview of consensus protocols</string>
	</dict>
	<key>4515B11B69AC7FB434E906E2.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>505E86DDD56178A1E13730348ED40B7E88A38EA8</string>
		<key>title</key>
		<string>hash function</string>
	</dict>
	<key>48EACF4E0F92FF6A087AA5A4.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>F077B13BB7FDD33BEF0A53B7660FC0BE3F3E5D33</string>
		<key>title</key>
		<string>美国著名商学院</string>
	</dict>
	<key>570AAED03B1FC5865E0816AE.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>38A544E9D3F43D5A1AD40942DA6652D91E075A4D</string>
		<key>title</key>
		<string>Lecture2 berkeley</string>
	</dict>
	<key>5A6326A4392C44A618089C06.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>D8B6C37EBE87E35FF5B5DB3BC64F66A4CAA60BAD</string>
		<key>title</key>
		<string>programing languages</string>
	</dict>
	<key>5B2E37DE782F2DC72C233505.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>3F43CDE39E011FB4B2132F7D687B2CC4AAE18437</string>
		<key>title</key>
		<string>IntSet :假设演绎法，三条基础</string>
	</dict>
	<key>5B3BB50974FD0DA512407B2D.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>60120E918AAF898FA96C7E1CEDA160D7D1699D79</string>
		<key>title</key>
		<string>Bitcoin decentralization,lecture2</string>
	</dict>
	<key>6049AC43271381B76326A558.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>57D9611348D718AF055798DAC54C8551109512E0</string>
		<key>title</key>
		<string>p2p</string>
	</dict>
	<key>60F76A0E7DF5CA9514D3B5D1.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>656A8DB7590767BFAA3500BC6627C6F38A1AE985</string>
		<key>title</key>
		<string>Implicit</string>
	</dict>
	<key>6228DD190F2311EC1D2B5247.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>A933C3E57D3856F9945EE923F13D266E0E0B8A18</string>
		<key>title</key>
		<string>Clique源码功能</string>
	</dict>
	<key>6F4766A171D02D351CFAD8EA.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>BDA5244E284F054509A5D260482789BA0047B5AF</string>
		<key>title</key>
		<string>berkeley</string>
	</dict>
	<key>7AE4140C561D351B3893E900.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>7E0D960BD930A4F7384BB3835D810AAB38000701</string>
		<key>title</key>
		<string>Monoid</string>
	</dict>
	<key>7D0C71A1313A5A93235CEADA.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>123F02F57E55C57D4B216CE78922B8D98F380E19</string>
		<key>title</key>
		<string>中心主题</string>
	</dict>
	<key>7E1D69393EE26F037C020F76.smmx</key>
	<dict>
		<key>hasImages</key>
		<false/>
		<key>sha1</key>
		<string>FB3FFDA1B300A352FCF7C01CE6F29CA285BF4C45</string>
		<key>title</key>
		<string>lecture3</string>
	</dict>
</dict>
</plist>
